<% provide(:title, "All users") %>
<h1>All users</h1>
<div class="index-actions">
  <div class="filter">
    <%= render "shared/filterable" %>
  </div>
</div>
<%= render "shared/users_index" %>
<%= will_paginate @users %>