<% provide(:title, "Страница входа") %>
<h1>Для входа в сервис воспользуйтесь одной из социальных сетей:</h1>
<%= link_to "Facebook", '', class: "btn btn-lg btn-primary" %>
<%= link_to "Sign in with Vkontakte", user_vkontakte_omniauth_authorize_path, class: "btn btn-lg btn-primary" %>