<li class="commentLi commentstep-2" data-commentid="7">
	<table class="form-comments-table">
		<tr>
			<td><div class="comment-timestamp"><%=time_ago_in_words(comment.created_at)%></div></td>
			<td><div class="comment-user">Ollie Bott</div></td>
			<td>
				<div class="comment-avatar">
					<img src="">
				</div>
			</td>
			<td>
				<div id="comment-7" data-commentid="7" class="comment">
					This is a comment HELLO!!!!
                    <div id="commentactions-7" class="comment-actions">
                    	<div class="btn-group" role="group" aria-label="...">
                        	<button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Reply</button>
				            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-pencil"></i> Edit</button>
                			<button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i >Delete</button>
                        </div>                                
 	               </div>
    			</div>
			</td>
		</tr>
	</table>
	<% each comment.comment do |reply_comment| %>
		<%= render 'shared/reply_comment', comment: reply_comment %>
	<% end %>
</li>