
  <div class="dropdown">
    <button class="dropbtn">Sort</button>
    <div class="dropdown-content">
      <%= link_to 'Date ▼', users_path(sorting: 'created_at DESC') %>
      <%= link_to 'Date ▲', users_path(sorting: 'created_at ASC') %>
      <%= link_to 'Name ▼', users_path(sorting: 'name DESC') %>
      <%= link_to 'Name ▲', users_path(sorting: 'name ASC') %>
    </div>
  </div>
