<% provide(:title, "All posts") %>
<div class="title">
  <h1>All posts</h1>
</div>
<div class="index-actions">
  <div class="filter">
    <%= render "shared/filterable" %>
  </div>
  <div class="sort">
    <%= render "shared/post_sort" %>
  </div>
</div>
<%= render "shared/posts_index" %>
<%= will_paginate @posts %>
