<script src="new.js"></script>

<% provide(:title, "New post") %>
<%= form_for :post, url: posts_path, html: { multipart: true } do |f| %>
	<div class="form-group">
    	<label for="inputTitle">Title</label>
    	<div class="field">
    		<%= f.text_field :title, placeholder: "...photo title..." %>
    	</div>
  	</div>

  	<div class="form-group">
    	<label for="inputDescription">Description</label>
    	<div class="field">
    		<%= f.text_area :description, placeholder: "...description (optional)..." %>
  		</div>
  	</div>

  	<div class="form-group">
    	<label for="exampleFormControlFile1">Upload a photo here</label>
    	<%= f.file_field :photo, accept: 'image/jpg,image/gif,image/png,image/jpeg' %>
  	</div>

  	<button type="submit" class="btn btn-primary">Submit</button>
<% end %>

