.album {
  border-radius: 10px;

  .container {
    .card {
      width: 320px;
      height: 435px;
    }

    .photo {
      margin: 10px auto 0;

      img {
        width: 300px;
        height: 300px;
        border-style: groove;
        border-radius: 5px;
      }
    }

    .btn-group {
      .btn {
        height: 30px;
      }

      .like .btn {
        width: auto;
        height: 30px;
      }
    }
  }
}

.user-show .container {
  img {
    width: 300px;
    height: 300px;
    border-radius: 25%;
  }
}

.user-container {
  .card {
    width: 170px;
    height: 280px;
    margin: auto;
  }
  img {
    width: 150px;
    height: 150px;
    border-style: groove;
    border-radius: 5px;
  }

  .photo {
    margin: 10px auto 0;
  }
}

.index-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px 15px;
}

.pagination > * {
  border: solid 1px gray;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 5px auto
}

.pagination a:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.pagination a:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.pagination a, .current, .gap {
  color: black;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
}

.pagination .current {
  background-color: #4CAF50;
  color: white;
}

.pagination .disabled {
  display: none;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.attached-image img{
  display: none;
  border-style: groove;
  border-radius: 5px;
  width: auto;
  max-width: 30vw;
  height: auto;
  max-height: 30vh;
  margin: 0 0 10px;
}

.col-vk-photo
{
  border-style: dotted;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
}
.card-vk-photo
{
  width: 16rem;
  img {
    border-style: groove;
    border-radius: 5px;
    width: auto;
    height: auto;
    max-width: 30vw;
    max-height: 30vh;
  }
  .custom-radio {
    display: flex;
    margin: auto auto 5px;
  }
}

.country {
  margin: auto;
  color: lightcyan;
  .unidentified_country {
    color: red;
  }
  .identify_country {
    color: green;
  }
}



