<footer class="footer">
	<nav class="navbar navbar-expand navbar-dark bg-white fixed-down">
    	<div class="container">
        	<span class="text-muted">Made by: <a href="https://vk.com/deaddiamon"> Dmitry Bayandin </a></span>
    	</div>
    </nav>
</footer>